*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 350px;
}

header img{
    height: 100%;
    width: 100%;
}

#section1{
    width: 100%;
    height: 100vh;
}

.contenedor{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cajas{
    border: 2px solid black;
    height: 510px;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.cajas img{
    height: 350px;
    width: 100%;
}

.boton{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.botones{
    margin-top: 15px;
    text-align: center;
}

.boton:hover{
    background-color: thistle;
    color: white;
}

@media (max-width:599px){
    *{
        margin: 0px;
        padding: 0px;
    }
}